/**

  @icons
---------------------------------------------------------
  elements/_icons.scss
--------------------------------------------------------

  Your icon set may vary. In this partial, you may wish
  to load in a font icon set and add all the associated
  css that goes with it. This would be the case if you
  were using something like Symbolset or IcoMoon for
  example.

--------------------------------------------------------- */





/* @icon
--------------------------------------------------------

  This is a basic icon element. We set some basic
  structural styles and display styles to get the ball
  rolling.

  Example: Open Icon
  <i class="icon icon--open">&plus;</i>

  Example: Close Icon
  <i class="icon icon--close">&times;</i>

------------------------------------------------------ */

.icon {
  display: inline-block;
  fill: currentColor; 
 
  &--sm {
    width: vr(3);
    height: vr(3);
    vertical-align: middle;
    fill: $blue70;
 }
  
  &--info, &--meta {
    width: vr(2); 
    height: vr(2);
    margin-right: 0.5rem;
  }
  
  &--facebook {
    transition: all 0.3s ease;
      &:hover { fill: $color-facebook; }
  }
  
  &--arrow-right { width: vr(2); height: vr(2); }
  &--arrow-left { width: vr(2); height: vr(2); }
}


