/**

  @icons
---------------------------------------------------------
  elements/_icons.scss
--------------------------------------------------------

  Your icon set may vary. In this partial, you may wish
  to load in a font icon set and add all the associated
  css that goes with it. This would be the case if you
  were using something like Symbolset or IcoMoon for
  example.

--------------------------------------------------------- */





/* @icon
--------------------------------------------------------

  This is a basic icon element. We set some basic
  structural styles and display styles to get the ball
  rolling.

  Example: Open Icon
  <i class="icon icon--open">&plus;</i>

  Example: Close Icon
  <i class="icon icon--close">&times;</i>

------------------------------------------------------ */


[class^="icon--"], [class*=" icon--"] {
	display: inline-block;
	fill: currentColor;
  vertical-align: middle;
}

.icon {
  &--facebook { width: vr(3); height: vr(3); }
  &--google { width: vr(3); height: vr(3); }
  &--twitter { width: vr(4); height: vr(4); }
  &--pinterest { width: vr(4); height: vr(4); }
}

.sm-icons li {
  display: inline;
  margin-right: 0.25rem;
}

.icon {
  &--location { width: vr(3); height: vr(3); }
}