/**

  @icons
---------------------------------------------------------
  elements/_icons.scss
--------------------------------------------------------

  Your icon set may vary. In this partial, you may wish
  to load in a font icon set and add all the associated
  css that goes with it. This would be the case if you
  were using something like Symbolset or IcoMoon for
  example.

--------------------------------------------------------- */





/* @icon
--------------------------------------------------------

  This is a basic icon element. We set some basic
  structural styles and display styles to get the ball
  rolling.

  Example: Open Icon
  <i class="icon icon--open">&plus;</i>

  Example: Close Icon
  <i class="icon icon--close">&times;</i>

------------------------------------------------------ */


[class^="icon--"], [class*=" icon--"] {
	display: inline-block;
	fill: currentColor;
}

.sm-icons li {
  display: inline;
  a { display: inline-block;
  }
}


.icon {
  &--facebook { width: vr(4, $ms-base); height: vr(4, $ms-base); }
  &--google { width: vr(4, $ms-base); height: vr(4, $ms-base); }
  &--twitter { width: vr(4, $ms-base); height: vr(4, $ms-base); }
  &--whatsapp { width: vr(4, $ms-base); height: vr(4, $ms-base); }
  &--pinterest { width: (vr(4, $ms-base) * 0.77796); height: vr(4, $ms-base); }
}
