.main {
  @include container;
}

.horizontal {
  .art-image {
    margin-bottom: vr(4);
  }
  .art-metadata {
    @include container;
    @include bp(small) {
      @include span(3 of 12);
    }
    @include bp(medium) {
      @include span(3 of 12);
    }
    @include bp(large) {
      @include span(3 of 12);
    }
    .number {
      margin-bottom: vr(4);
      @include span(6 of 12);
        @include bp(small) {
          @include span(12 of 12);
        }      
    }
    .daytime {
      margin-bottom: vr(4);
      @include span(6 at 7 of 12 last);
        @include bp(small) {
          @include span(12 of 12);
        }      
    }
  }
  
  
/*    */
  

  .art {
    @include bp(small) {
      @include span(8 at 4 of 12 last);
    }
    @include bp(medium) {
      @include span(8 at 4 of 12 last);
    }
    @include bp(large) {
      @include span(9 at 3 of 12 last);
    }
  }

  .content {
    @include bp(small) {
      @include span(6 of 12);
    }
  }
/*  .art-metadata {
    @include bp(small) {
      @include span(6 at 7 of 12 last);
    }
    @include bp(medium) {
      @include span(3 at 7 of 12);
    }
  }*/
  .art-info {
    @include bp(small) {
      @include span(6 at 7 of 12 last);
    }
    @include bp(medium) {
      @include span(3 at 10 of 12 last);
    }
  }
}

.vertical {
  .art-image {
    @include span(6 of 12);
  }
  .art {
    @include span(6 of 12 last);
  }
}

.sm-icons {
  margin-bottom: vr(4);
    li {
      display: inline;
      margin-right: 0.25rem;
    }
}

.number {
      margin-bottom: vr(4);
      color: $blue70;
      @include set-type($ms-up4);
      @extend %font-sans-bold;
    }
