.navigation {
  padding: 0 0 vr(4); 
  @include container;
}

.prev {
  @include span(isolate 2 at 5 of 12);
    @include bp(large) {
      @include span(isolate 1 at 6 of 12);
    }
}

.next {
  @include span(isolate 2 at 7 of 12);
    @include bp(large) {
      @include span(isolate 1 at 7 of 12);
    }
}

.nav-button {
  background-image: linear-gradient($grey90, $black);
  border-width: 1px;
  border-color: $black;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  transition: all ease 0.2s;
  @include vr-border(1px, 1px, 1); // deze mixin moet nog beter -> zie originele typesettings
    &:hover {
      color: $grey40;
      background: $black;
      border: 1px solid $grey90;
    }
}