.navigation {
  padding: vr(1) 0 vr(3);
  @include container;
}

.prev {
  text-align: left;
  padding-left: 2rem;
  @include span(6 of 12);
}

.next {
  text-align: right;
  @include span(6 at 7 of 12);
}

.nav-button {
  background-color: $black;
  border-bottom: 1px solid $grey90;
  padding: vr(1) 0;
}