/**

  @site-header
--------------------------------------------------------
  modules/_site-header.scss
--------------------------------------------------------

  Site-wide header

------------------------------------------------------ */






/* @branding
--------------------------------------------------------

  The logo & (optional) wordmark

  Example: Branding logo
  <a class="branding" href="/">
    <img class="branding__logo img--title" src="images/logo.svg" alt="My Company">
    <h1 class="branding__wordmark">My Company</h1>
  </a>

------------------------------------------------------ */
header {
  @include container;
}

.logo {
  @include bp(small) {
    @include span(3 of 12);
  }
}

nav {
  display: inline-block;
  @include bp(small) {
    @include span(9 at 4 of 12 last);
  }
}

.menu {
  text-align: center;
  width: 100%;
    li {
      display: inline;
      text-transform: uppercase;
    }
    a {
      display: inline-block;
      padding: vr(3, $ms-up1) 0 vr(1, $ms-up1);
      transition: all 0.3s ease;
      color: $white;
      @include pad(1em);
      @include set-type(8, $ms-up1);
      @extend %font-sans-normal;
        &:hover {
          background-image: linear-gradient(to bottom, $white 5px, rgba(255,255,255,0) 5px); // een kleine hack, maar de rgba is nodig om de gradient transparant te krijgen. 
        }
    }
    li.active a {
      
    }
}



/*

  @site-nav
--------------------------------------------------------

  The main site navigation.

-----------------------------------------------------  */

