.icon {
	display: inline-block;
	color: #444444;
	fill: currentColor;
}
.icon-pencil {
	width: 32px;
	height: 32px;
}
.icon-image {
	width: 32px;
	height: 32px;
}
#icon-image .path1 {
	fill: currentcolor;
}
#icon-image .path2 {
	fill: currentcolor;
}
#icon-image .path3 {
	fill: currentcolor;
}
.icon-video-camera {
	width: 32px;
	height: 32px;
}
.icon-price-tag {
	width: 32px;
	height: 32px;
}
.icon-envelop {
	width: 32px;
	height: 32px;
}
.icon-location {
	width: 32px;
	height: 32px;
}
.icon-clock {
	width: 32px;
	height: 32px;
}
.icon-stopwatch {
	width: 32px;
	height: 32px;
}
.icon-calendar {
	width: 32px;
	height: 32px;
}
.icon-bubbles4 {
	width: 36px;
	height: 32px;
}
.icon-road {
	width: 32px;
	height: 32px;
}
.icon-accessibility {
	width: 32px;
	height: 32px;
}
#icon-accessibility .path1 {
	fill: currentcolor;
}
#icon-accessibility .path2 {
	fill: currentcolor;
}
.icon-heart {
	width: 32px;
	height: 32px;
}
.icon-heart-broken {
	width: 32px;
	height: 32px;
}
.icon-arrow-right {
	width: 32px;
	height: 32px;
}
.icon-embed2 {
	width: 40px;
	height: 32px;
}
#icon-embed2 .path1 {
	fill: currentcolor;
}
#icon-embed2 .path2 {
	fill: currentcolor;
}
#icon-embed2 .path3 {
	fill: currentcolor;
}
.icon-google-plus2 {
	width: 32px;
	height: 32px;
}
.icon-facebook {
	width: 32px;
	height: 32px;
}
.icon-facebook2 {
	width: 32px;
	height: 32px;
}
.icon-instagram {
	width: 32px;
	height: 32px;
}
.icon-twitter {
	width: 32px;
	height: 32px;
}
.icon-twitter2 {
	width: 32px;
	height: 32px;
}
.icon-feed2 {
	width: 32px;
	height: 32px;
}
.icon-youtube3 {
	width: 32px;
	height: 32px;
}
#icon-youtube3 .path1 {
	fill: currentcolor;
}
#icon-youtube3 .path2 {
	fill: currentcolor;
}
#icon-youtube3 .path3 {
	fill: currentcolor;
}
#icon-youtube3 .path4 {
	fill: currentcolor;
}
#icon-youtube3 .path5 {
	fill: currentcolor;
}
#icon-youtube3 .path6 {
	fill: currentcolor;
}
.icon-vimeo {
	width: 32px;
	height: 32px;
}
.icon-flickr2 {
	width: 32px;
	height: 32px;
}
.icon-github4 {
	width: 32px;
	height: 32px;
}
.icon-linkedin2 {
	width: 32px;
	height: 32px;
}
#icon-linkedin2 .path1 {
	fill: currentcolor;
}
#icon-linkedin2 .path2 {
	fill: currentcolor;
}
#icon-linkedin2 .path3 {
	fill: currentcolor;
}
.icon-pinterest2 {
	width: 32px;
	height: 32px;
}
.icon-codepen {
	width: 32px;
	height: 32px;
}
